composer.phar
/vendor/

# Uygulamanızın kilit dosyasını işleyin https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# Bir kitaplık icin kilit dosyasını yok saymayı seçebilirsin http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
